 {% extends '_base.html.twig' %}
    {% block pageTitle %}home page{% endblock %}

    {% block body %}

         
        <h1>Welcome to Quick Fire Tournamnet</h1>
        
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://meandyy.github.io/"></iframe>
             </div>
    
        {{ dump() }}
    {% endblock %}